<div class="w-4/5 p-8 mx-auto bg-slate-50 mt-16 ">
    <h1 class="text-center">CHOOSE ONE OPTION TO CONTINUE</h1>
    <div class="banking-menu grid grid-cols-2 gap-x-64 gap-y-8 p-4 pt-16">
        <div class="banking-option pr-4 py-2 cursor-pointer border-r-2 border-y-2">
            <div class="icon-box">

            </div>
            <div class="banking-opration-blk text-end">
                <h3> Transfer Fund </h3>
                <p>transfer fund to another account</p>
            </div>
        </div>
        <div class="banking-option pl-4 py-2 cursor-pointer border-l-2 border-y-2">
            <div class="icon-box">
                
            </div>
            <div class="banking-opration-blk ">
                <h3> Fast Cash </h3>
                <p>Get Fast Cash for selected value  </p>
            </div>
        </div>
        <div class="banking-option pr-4 py-2 cursor-pointer border-r-2 border-y-2" (click)="navigation('balance_enquery')">
            <div class="icon-box">

            </div>
            <div  class="banking-opration-blk text-end">
                <h3 routerLink='balance_enquery'> Balance enquery  </h3>
                <p>check the balance for your account </p>
            </div>
        </div>
        <div class="banking-option pl-4 py-2 cursor-pointer border-l-2 border-y-2" (click)="navigation('balance_widthrawl')">
            <div class="icon-box">

            </div>
            <div class="banking-opration-blk ">
                <h3> Widthrawl </h3>
                <p>Widthrawl money from account</p>
            </div>
        </div>
        <div class="banking-option pr-4 py-2 cursor-pointer border-r-2 border-y-2">
            <div class="icon-box">

            </div>
            <div class="banking-opration-blk text-end ">
                <h3> Mini Statement </h3>
                <p>Get statement of your account </p>
            </div>
        </div>
        <div class="banking-option pl-4 py-2 cursor-pointer border-l-2 border-y-2">
            <div class="icon-box">

            </div>
            <div class="banking-opration-blk ">
                <h3> Cash Deposit </h3>
                <p>Deposit Cash in your account</p>
            </div>
        </div>
        <div class="banking-option pr-4 py-2 cursor-pointer border-r-2 border-y-2">
            <div class="icon-box">

            </div>
            <div class="banking-opration-blk text-end ">
                <h3> Mobile Recharge </h3>
                <p>recharge yout mobile number </p>
            </div>
        </div>
        <div class="banking-option pl-4 py-2 cursor-pointer border-l-2 border-y-2">
            <div class="icon-box">

            </div>
            <div class="banking-opration-blk ">
                <h3> Pin Change </h3>
                <p>Change your pin number </p>
            </div>
        </div>
    </div>
</div>